<html>
<head><title>input</title>
    <style>
    form{
        background-color:white;
    }
    pre{
        background-color:black;
    }
    button{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 50px;
        border-radius: 5px;
        border-color: grey;
        text-align: center;
    }
    .dummy{
        color: transparent;
    }
    .container{
                background-color: white;
                padding-bottom: 10px;
                
            }
</style></head>
<body>
{% extends "app1/base.html" %}
{% block content %}
<div class="container">
<form method="post" action="{% url 'app1:input' %}">
    {% csrf_token %}

    <fieldset>
        <legend>ADD BODY PATIENT</legend>
        <pre>
            <label>Name                                            :</label> <input type="text" name="name"/>
        </pre>
        <pre>
            <label>Age (years)                                     :</label> <input type="number" name="age"/>
        </pre>
        <pre>
            <label>Weight (Kilos)                                  :</label> <input type="number" name="weight"/>
        </pre>
        <pre>
            <label>Gender (M/F)                                    :</label> <input type="text" name="gender"/>
        </pre>
        <pre>
            <label>Serum Creatinine (μmol/L)                       :</label> <input type="number" name="serum" step="0.1"/>
        </pre>
        <pre>
            <label>Specific Gravity (1.005,1.010,1.015,1.020.1.025):</label> <input type="number" name="sg" step="0.001"/>
        </pre>
        <pre>
            <label>Red Blood Cells (Normal:1, abnormal:0)          :</label> <input type="number" name="rbc" step="0.1"/>
        </pre>
        <pre>
            <label>Pus Cell (Normal:1, abnormal:0)                 :</label> <input type="number" name="pc" step="0.1"/>
        </pre>
        <pre>
            <label>Pus Cell Clumps (Present:1, Not present:0)      :</label> <input type="number" name="pcc" step="0.1"/>
        </pre>
        <pre>
            <label>Bacteria (Present:1, Not present:0)             :</label> <input type="number" name="ba" step="0.1"/>
        </pre>
        <pre>
            <label>Blood Glucose Random (mgs/dl)                   :</label> <input type="number" name="bgr" step="0.1"/>
        </pre>
        <pre>
            <label>Blood Urea (mgs/dl)                             :</label> <input type="number" name="bu" step="0.1"/>
        </pre>
        <pre>
            <label>Potassium (mEq/L)                               :</label> <input type="number" name="pot" step="0.1"/>
        </pre>
        <pre>
            <label>Packed Cell Volume (numerical)                  :</label> <input type="number" name="pcv" step="0.1"/>
        </pre>
        <pre>
            <label>White Blood Cells Count (cells/cumm)            :</label> <input type="number" name="wbcc" step="0.1"/>
        </pre>
        <pre>
            <label>Red Blood Cells Count (millions/cumm)           :</label> <input type="number" name="rbcc" step="0.1"/>
        </pre>
        <pre>
            <label>Hypertension (yes:1, no:0)                      :</label> <input type="number" name="htn" step="0.1"/>
        </pre>
        <pre>
            <label>Diabetes Mellitus (yes:1, no:0)                 :</label> <input type="number" name="dm" step="0.1"/>
        </pre>
        <pre>
            <label>Coronary Artery Disease (yes:1, no:0)           :</label> <input type="number" name="cad" step="0.1"/>
        </pre>
        <pre>
            <label>Pedal Edema (yes:1, no:0)                       :</label> <input type="number" name="pe" step="0.1"/>
        </pre>
        <pre>
            <label>Anemia (yes:1, no:0)                            :</label> <input type="number" name="ane" step="0.1"/>
        </pre>
        <pre>
            <label>Patient Condition (ckd/ notckd)                 :</label> <input type="text" name="yclass"/>
        </pre>
 
 
        
        <button name = "submit"> SUBMIT </button>
    </fieldset>
</form>
<div class="dummy">
    Terms and conditions*
    Usually, CKD does not give any signs until the kidney is
damaged beyond repair. The disease is increasing rapidly as
per the studies which conclude that the hospitalization cases
due to CKD have increased by 6.23 percent per year. And the
global mortality rate remains fixed. There are few diagnostic
tests to check the condition of CKD such as:
1) eGFR test: It stands for estimated Glomerular Filtration
Rate (eGFR), which analyses the rate of filtration by
glomeruli, present in the kidneys.
2) Urine test: For detecting anomalies in urine that point to
defective kidney functions.
3) Blood tests: For detecting the presence of serum creatinine
or urea in blood.
</div>
</div>
{% endblock content %}
</body>